@media screen and (min-width: 1000px) {
  body {
    max-width: 1000px;
  }

  .restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 300px 300px;
  }
  .restaurants h2 {
    grid-row: 1;
    margin-left: 75px;
  }
  .restaurants .restaurant:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }
  .restaurants .restaurant:nth-child(3) {
    grid-row: 2;
    grid-column: 2;
  }
  .restaurants .restaurant:nth-child(4) {
    grid-row: 3;
    grid-column: 1;
  }
  .restaurants .restaurant:nth-child(5) {
    grid-row: 3;
    grid-column: 2;
  }
  .restaurants a {
    width: 350px;
  }
  .restaurants .restaurant {
    width: 350px;
  }

  .step {
    display: grid;
  }
  .step h3 {
    grid-row: 1;
  }

  .item {
    width: 315px;
    grid-row: 2;
  }
  .item:nth-child(5) {
    grid-row: 3;
  }
}
@keyframes apparition1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes apparition2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  60% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes apparition3 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.item--1 {
  animation: apparition1 4s ease forwards;
}
.item--2 {
  animation: apparition2 4s ease forwards;
}
.item--3 {
  animation: apparition3 4s ease forwards;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../src/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../src/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../src/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../src/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../src/Roboto-Regular.ttf");
}
body {
  margin: auto;
  text-align: center;
  font-family: "Roboto-Medium";
}

.button--explorer {
  height: 50px;
  width: 230px;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-family: "Roboto-medium";
  font-size: 15px;
  border: none;
  box-shadow: 2px 2px 13px #bebebe;
}

.button--commander {
  height: 45px;
  width: 200px;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-family: "Roboto-medium";
  font-size: 15px;
  border: none;
  box-shadow: 2px 2px 13px #bebebe;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button__return {
  height: 40px;
  width: 40px;
  border: none;
  position: relative;
  top: 15px;
  left: 10px;
  grid-column: 1;
  background-color: white;
}
.button__return .fas {
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: row;
}
header h1 {
  font-family: "Shrikhand";
  font-size: 35px;
  margin: auto;
  text-align: left;
}

.localisation {
  height: 360px;
  justify-content: center;
  background-color: #f6f6f6;
  margin: 0px;
  font-size: 20px;
}
.localisation h2 {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-left: 0;
}
.localisation p {
  font-family: "Roboto-Regular";
  color: #6b6b6b;
}

.curent_loc {
  height: 35px;
  background-color: #e6e6e6;
  padding-top: 17px;
  color: #4d4d4d;
  font-size: 16px;
  box-shadow: inset 1px 17px 3px -12px #dadada;
}
.curent_loc .fas {
  margin-right: 10px;
}

h2 {
  text-align: start;
  margin-left: 30px;
}

.fonctionnement h2 {
  margin-bottom: 30px;
}
.fonctionnement li {
  display: flex;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin-bottom: 27px;
  padding-top: 25px;
  margin-right: 10px;
  box-shadow: 2px 2px 13px #bebebe;
}
.fonctionnement li i {
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 5px;
}
.fonctionnement__step {
  padding-top: 4px;
}
.fonctionnement__dot {
  height: 23px;
  width: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 10px;
  padding-top: 3px;
}

.restaurant__picture-img {
  width: 100%;
}

.restaurant__picture {
  margin: 0px;
  height: 70%;
  overflow: hidden;
}

.restaurants {
  background-color: #f0f0f0;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-bottom: 0;
}

.restaurant {
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  height: 240px;
  margin-bottom: 17px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  position: relative;
  text-decoration: none;
  box-shadow: 2px 2px 13px #bebebe;
  color: black;
}
.restaurant .greenbox {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 22px;
  width: 70px;
  color: #008766;
  background-color: #99e2d0;
  font-size: 13px;
  border-radius: 2px;
  padding-top: 4px;
}
.restaurant .logowrapper {
  position: absolute;
  right: 25px;
  bottom: 20px;
  height: 25px;
}
.restaurant .logowrapper .far {
  font-size: 25px;
  color: #999999;
}
.restaurant .logowrapper--hover {
  position: absolute;
  right: 25px;
  bottom: 20px;
  opacity: 0;
  height: 25px;
}
.restaurant .logowrapper--hover .fas {
  font-size: 25px;
  color: #cc39a2;
}
.restaurant .logowrapper--hover:hover {
  opacity: 1;
}
.restaurant h3 {
  margin: 10px 0 5px 15px;
  text-align: left;
  width: 75%;
  font-size: 17px;
  text-decoration: none;
}
.restaurant h4 {
  margin: 0 0 0 15px;
  text-align: left;
  width: 75%;
  font-size: 15px;
  font-family: "Roboto-Light";
  color: #6d6d6d;
}

footer {
  background-color: #333131;
  color: white;
  text-align: left;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 15px;
  margin-top: 0;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: 200;
  margin-top: 0;
  margin-left: 0;
  font-size: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  font-family: "Roboto-Regular";
}
footer ul {
  margin-left: 5px;
  padding-left: 0;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
}
footer i {
  margin-right: 10px;
}

.menutitle {
  text-align: start;
  margin-left: 10px;
  font-family: "Shrikhand";
  margin-bottom: 0;
}

.menupage {
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  z-index: 2;
}

.step {
  text-align: start;
  background-color: #f0f0f0;
  margin-top: 45px;
}
.step h3 {
  text-transform: uppercase;
  font-family: "Roboto-Light";
  margin-top: 0;
  margin-left: 17px;
}
.step h3::after {
  content: " ";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #5ed499;
  margin-top: 4px;
}

.item {
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  position: relative;
  height: 65px;
  grid-template-rows: auto;
  font-family: "Roboto-Medium";
  box-shadow: 2px 2px 13px #bebebe;
  overflow: hidden;
}
.item:hover > .item__animation {
  transform: translateX(-65px);
}
.item:hover > .item__price {
  transform: translateX(-65px);
}
.item:hover .item__tick {
  transform: rotate(0deg);
}
.item:hover > .item__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}
.item:hover > .item__name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 180px;
}
.item__name {
  margin: 10px 0px 0px 10px;
}
.item__price {
  color: black;
  margin: 0px 0px 0px 20px;
  transition: transform 500ms;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.item__description {
  font-family: "Roboto-Light";
  margin: 5px 0px 10px 10px;
  width: 300px;
}
.item__animation {
  height: 65px;
  width: 65px;
  background-color: #5ed499;
  position: absolute;
  right: -65px;
  top: 0px;
  transition: transform 500ms;
}
.item__tick {
  color: #dfdede;
  font-size: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  transform: rotate(-270deg);
  transition: transform 500ms;
}

.pagerestaurant__picture {
  height: 250px;
  width: 100%;
  margin: 0;
  z-index: 1;
  position: relative;
  overflow-y: visible;
}
.pagerestaurant__picture--wrapper {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
.pagerestaurant__picture--img {
  width: 120%;
}

.menupage .logowrapper {
  position: absolute;
  right: 35px;
  top: 45px;
}
.menupage .logowrapper .far {
  font-size: 25px;
  color: #999999;
}
.menupage .logowrapper--hover {
  position: absolute;
  right: 35px;
  top: 45px;
  opacity: 0;
}
.menupage .logowrapper--hover .fas {
  font-size: 25px;
  color: #cc39a2;
}
.menupage .logowrapper--hover:hover {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
