.localisation {
    height: 360px;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    margin: 0px;
    font-size: 20px;
    h2 {
        padding-top: 15px;
        padding-left:30px;
        padding-right: 30px;
        text-align: center;
        margin-left: 0;
    }
    p {
        font-family: "Roboto-Regular";
        color: rgb(107, 107, 107);
    }

}
.curent_loc {
    height: 35px;
    background-color: rgb(230, 230, 230);
    padding-top: 17px;
    color: rgb(77, 77, 77);
    font-size: 16px;
    box-shadow: inset 1px 17px 3px -12px #dadada;
    .fas {
        margin-right: 10px;
    }
}

h2 {
    text-align: start;
    margin-left: 30px;
}

.fonctionnement {
    h2 {
        margin-bottom: 30px;
    }
    li {
        display: flex;
        height: 50px;
        background-color: rgb(240, 240, 240);
        border-radius: 25px;
        margin-bottom: 27px;
        padding-top: 25px;
        margin-right: 10px;
        box-shadow: 2px 2px 13px rgb(190, 190, 190);
        i {
            margin-right: 15px;
            margin-left: 15px;
            padding-top: 5px;
        }
    }
    &__step {
        padding-top: 4px;
    }
    
    &__dot {
        height: 23px;
        width: 25px;
        border-radius: 25px;
        background-color: #9356DC;
        color: white;
        position: relative;
        right: 10px;
        padding-top: 3px;
    }
}



.restaurant__picture-img {
    width: 100%;
}

.restaurant__picture {
    margin: 0px;
    height: 70%;
    overflow: hidden;
}

.restaurants {
    background-color: rgb(240, 240, 240);
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

.restaurant {
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    height: 240px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    position: relative;
    text-decoration: none;
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    .greenbox {
        position: absolute;
        right: 20px;
        top: 20px;
        height: 22px;
        width: 70px;
        color: rgb(0, 135, 102);
        background-color: $tertiarygreen;
        font-size: 13px;
        border-radius: 2px;
        padding-top: 4px;
    }
    
    .logowrapper { 
        position: absolute;
        right: 25px;
        bottom: 20px;
        height: 25px;
        .far {
            font-size: 25px;
            color: rgb(153, 153, 153);
        }
        &--hover {
            position: absolute;
            right: 25px;
            bottom: 20px;
            opacity: 0;
            height: 25px;
            .fas {
                font-size: 25px;
                color: #cc39a2;
            }
            &:hover {
                opacity: 1;
            }
        }    
    }

    h3 {
        margin: 10px 0 5px 15px;
        text-align: left;
        width: 75%;
        font-size: 17px;
        text-decoration: none;
    }
    h4 {
        margin: 00 0 0 15px;
        text-align: left;
        width: 75%;
        font-size: 15px;
        font-family: "Roboto-Light";
        color: rgb(109, 109, 109);
    }
}