.localisation {
    height: 360px;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    margin: 0px;
    font-size: 20px;
    h2 {
        padding-top: 60px;
        padding-left:30px;
        padding-right: 30px;
        text-align: center;
        margin-left: 0;
    }
    p {
        font-family: "Roboto-Regular";
        color: rgb(107, 107, 107);
    }

}

h2 {
    text-align: start;
    margin-left: 30px;
}

.fonctionnement {
    li {
        display: flex;
        height: 50px;
        background-color: rgb(240, 240, 240);
        border-radius: 25px;
        margin-bottom: 20px;
        padding-top: 25px;
        box-shadow: 2px 2px 13px rgb(190, 190, 190);
        i {
            margin-right: 15px;
            margin-left: 15px;
            padding-top: 5px;
        }
    }
    &__step {
        padding-top: 4px;
    }
    
    &__dot {
        height: 23px;
        width: 25px;
        border-radius: 25px;
        background-color: #9356DC;
        color: white;
        position: relative;
        right: 10px;
        padding-top: 3px;
    }
}



.restaurant__picture-img {
    width: 100%;
}

.restaurant__picture {
    margin: 0px;
    height: 75%;
    overflow: hidden;
}

.restaurants {
    background-color: rgb(240, 240, 240);
    justify-content: center;
}

.restaurant {
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    height: 250px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    position: relative;
    text-decoration: none;
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    
    .logowrapper {
        position: absolute;
        right: 25px;
        bottom: 30px;
        .far {
            font-size: 30px;
            color: rgb(153, 153, 153);
        }
    }
    h3 {
        margin: 0;
        text-align: left;
        width: 75%;
    }
    h4 {
        margin: 0;
        text-align: left;
        width: 75%;
        font-family: "Roboto-Light";
        color: rgb(109, 109, 109);
    }
}