.localisation {
    height: 600px;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    margin: 0px;

}

h2 {
    justify-content: start;
}

.fonctionnement ul li {
    display: flex;
    height: 55px;
    background-color: rgb(240, 240, 240);
    border-radius: 25px;
    margin-bottom: 10px;
    padding-top: 25px;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: #9356DC;
    color: white;
    position: relative;
    right: 5px;
}

.restaurant__picture-img {
    width: 100%;
}

.restaurant__picture {
    margin: 0px;
    height: 75%;
    overflow: hidden;
}

.restaurants {
    background-color: rgb(240, 240, 240);
    justify-content: center;
}

.restaurant {
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
    height: 250px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
}