.menutitle {
    text-align: start;
    margin-left: 10px;
    font-family: "Shrikhand";
}

.menupage {
    background-color: rgb(240, 240, 240);
}

.step {
    text-align: start;
    background-color: rgb(240, 240, 240);
    h3 {
        text-transform: uppercase;
        font-family: "Roboto-Light";
        margin-top: 0;
        margin-left: 17px;
    }
}

.item  {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
    height: 65px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto;
    font-family: "Roboto-Medium";
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    overflow: hidden;
    &:hover > &__animation {
        transform: translateX(-65px);
    }
    &:hover > &__price {
        transform: translateX(-65px);
    }
    &:hover  &__tick {
        transform: rotate(0deg);
    }
    &__name {
        margin:10px 0px 0px 10px;
        grid-column: 1;
    }
    &__price {
        color: black;
        grid-column: 2;
        grid-row: 2;
        margin:0px 0px 0px 20px;
        transition: transform 500ms;
    }
    &__description {
        font-family: "Roboto-Light";
        margin:0px 0px 10px 10px;
        grid-column: 1;
        grid-row: 2;
    }
    &__animation {
        height: 65px;
        width: 65px;
        background-color: rgb(94, 212, 153);
        position: absolute;
        right: -65px;
        transition: transform 500ms;
    }
    &__tick {
        color: rgb(223, 222, 222);
        font-size: 20px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        transform: rotate(-270deg);
        transition: transform 500ms;
    }
}
