@keyframes apparition1 {
    0% { 
        opacity: 0;
        transform: translateY(20px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes apparition2 {
    0% { 
        opacity: 0;
        transform: translateY(20px);
    }
    60% {
        opacity: 1;
        transform: translateY(0px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes apparition3 {
    0% { 
        opacity: 0;
        transform: translateY(20px);
    }
    90% {
        opacity: 1;
        transform: translateY(0px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

.item {
    &--1{
        animation: apparition1 4s ease forwards;
    }
    &--2{
        animation: apparition2 4s ease forwards;
    }
    &--3{
        animation: apparition3 4s ease forwards; 
    }
}