@media screen and (min-width: 1000px) {
    body{
        max-width: 1000px;

    }

    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*  */
        h2 {
            grid-row: 1;
            grid-column: 1 / -1;
        }
        .restaurant:nth-child(2) {
            grid-row: 2;
            grid-column: 1;
        }
        .restaurant:nth-child(3) {
            grid-row: 2;
            grid-column: 2;
        }
        .restaurant:nth-child(4) {
            grid-row: 3;
            grid-column: 1;
        }
        .restaurant:nth-child(5) {
            grid-row: 3;
            grid-column: 2;
        }

        a {
            width: 350px;
        }
        .restaurant {
            width: 350px;
        }
    }

    


    .step {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        h3 {
            grid-column: 1 / -1;
        }
    }

    .item {

        &__description {
            font-size: 14px;
        }
    }    
}



@media screen and (min-width: 750px) and (max-width: 999px) {

    .step {
        display: grid;
        grid-template-columns: 1fr 1fr;
        h3 {
            grid-column: 1 / -1;
        }
    }

    .item {

        &__description {
            font-size: 14px;
        }
    }    
}