footer { 
    background-color: rgb(51, 49, 49);
    color: white;
    text-align: left;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    h2 {
        font-family: "Shrikhand";
        font-weight: 200;
        margin-top: 0;
        margin-left: 0;
        font-size: 20px;
    }
    a {
        text-decoration: none;
        color: white;
        font-family: "Roboto-Regular";
    }
    ul {
        margin-left: 5px;
        padding-left: 0;
    }
    li {
    list-style: none;
    margin-bottom: 10px;
    }
    i {
        margin-right: 10px;
    }
}