.button--explorer {
    height: 50px;
    width: 230px;
    @include mainbutton;
}

.button--commander {
    height: 45px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 50px;
    @include mainbutton;
}

.button__return {
    height: 40px;
    width: 40px;
    border: none;
    position: relative;
    top: 10px;
    left: 10px;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(0, 0, 0);
    .fas {
        font-size: 20px;
    }
}