.button--explorer {
    height: 50px;
    width: 230px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    font-family: "Roboto-medium";
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    &:hover {
        background: linear-gradient(to bottom right, #ffa4e5, #b784f7);
    }
}

.button--commander {
    height: 45px;
    width: 200px;
    border-radius: 50px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    font-family: "Roboto-medium";
    font-size: 15px;
    border: none;
    box-shadow: 2px 2px 13px rgb(190, 190, 190);
    margin-top: 40px;
    margin-bottom: 50px;
    &:hover {
        background: linear-gradient(to bottom right, #ffa4e5, #b784f7);
    }
}

.button__return {
    height: 40px;
    width: 40px;
    border: none;
    position: relative;
    top: 10px;
    left: 10px;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(0, 0, 0);
    .fas {
        font-size: 20px;
    }
}