@font-face {
    font-family: "Shrikhand";
    src: url("../src/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../src/Roboto-Medium.ttf")
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../src/Roboto-Thin.ttf")
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../src/Roboto-Light.ttf")
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/Roboto-Regular.ttf")
}    
body {
    margin: auto;
    text-align: center;
    font-family: "Roboto-Medium";
    position: relative;
}

#loader {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.6);
    z-index: 5;
    animation: loader__hidden 3s forwards;
}
