@font-face {
    font-family: "Shrikhand";
    src: url("../src/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../src/Roboto-Medium.ttf")
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../src/Roboto-Thin.ttf")
}
@font-face {
    font-family: "Roboto-Light";
    src: url("../src/Roboto-Light.ttf")
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/Roboto-Regular.ttf")
}    
body {
     max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: "Roboto-Medium";
}
